<% content_for :css do %>
  <%= stylesheet_link_tag 'session' %>
<% end %>

<div class="login-back-image">
  <div class="container">
    <div class="row">
      <div class="col-md-6 registration_margin">      
        <div class="registration_form bg-login-color">
          <%= render 'shared/flash_messages'%>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <h2 class="text-center"><%= t('.sign_in') %></h2><br>
          <%= f.label :name %>
          <%= f.text_field :name, autofocus: true, autocomplete: 'name', class: 'form-boarder' %>
          <br>
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: 'current-password',
                class: 'form-boarder',
                required: true,
                minlength: @minimum_password_length,
                maxlength: '30' %>
          <%= f.submit  t('.sign_in'), class: 'button' %>
          <% end %>
          <hr>
          <%# <div class="button-guest-margin">
            <%= link_to "ゲストログイン(閲覧用)", users_guest_sign_in_path,method: :post, class:'button-guest' %>
          </div> 
        </div>
      </div>
    </div>
  </div>
</div>