<%=form_with(model: board, local: true) do |f|%>
  <div id="cover-image" class="relative board-title-image">
    <% if board.image_id.present? %>
      <%= image_tag attachment_url(board, :image),class:'board-image'%>
    <% else %>
      <%= image_tag 'none_image.png',class:'board-image'%>
    <% end %>
    <i class="fa fa-camera"></i>
  </div>

    <%= f.attachment_field :image %><br>
    <div class="form-size-board">
      <%= f.label :'タイトル'%>
      <%= f.text_field :title,class:'form-border-title',:placeholder => "タイトル" %><br>
    </div><br>

  <%= f.hidden_field :id %>
  <hr>

  <div class="board_details">
  <%= f.fields_for :board_details do |df| %>
    <%= render partial: "board_detail_fields",locals: {f: df } %>
  <% end %>

  <%# 追加ボタン %>
  <div class="links">
      <%= link_to_add_association( '追加', f, :board_details)%>
  </div>

  


    
    <div class="form-group">
      <span>タグ</span>
      <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %> 
        <div class="form-check"> 
          <%= tag.label class: 'form-check-label' do %> 
          <div class="index-checkbox">
            <%= tag.check_box class: 'form-check-input' %> 
          </div>
            <%= tag.text %> 
          <% end %> 
        </div> 
      <% end %> 
    </div>
  <div class="form-size-board">
    <%= f.label :'ポイント'%>
    <%= f.text_area :onepoint,class:'form-border-point',rows: 5,:placeholder => "ワンポイント"%><br>
  </div>
    <%= f.submit %>
  </div>
<% end %>

